body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Ariel", sans-serif;
}

header {
  background-color: #f6f6f6;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-top: 5px solid #ff0000;
  max-width: 640px;
}

header ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
}

header li {
  margin-right: 10px;
}

main {
  max-width: 640px;
  margin: auto;
}

.title {
  text-align: center;
  color: #505050;
}

.title h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.title h3 {
  font-size: 1em;
  margin-top: 0;
}

.gallery {
  display: flex;
  line-height: 0;
}

.gallery img {
  margin-right: 10px;
  margin-bottom: 10px;
}

footer {
  display: flex;
}

footer p {
  margin-top: 0;
  margin-right: 10px;
}

footer div {
  flex: 1;
}

footer .whats-new h4 {
  color: #ff0000;
}

footer .modern-layouts {
  flex: 3;
}

footer .modern-layouts .story {
  display: flex;
}
