body {
  color: #fbe943;
  background-image: url('./images/map.png');
  font-family: 'Hoefler Text', 'Palatino', serif;
  text-align: center;
}

main {
  max-width: 42em;
  margin: auto;
}

h1 {
  background-image: url('./images/goonies.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  height: 4em;
}

h2 {
  text-transform: uppercase;
  margin: 2em;
}

h2,
h3 {
  text-shadow: 0.1em 0.1em 0 #1e3896;
}

ul,
ol {
  text-align: left;
}

img {
  border: 0.2em solid #fbe943;
  box-shadow: 0.2em 0.2em 0 #1e3896;
}

hr {
  border: 0;
  border-bottom: 0.2em solid #fbe943;
  box-shadow: 0.1em 0.1em 0 #1e3896;
}

.goonie {
  display: flex;
  margin: 1em 0;
}

.goonie div {
  text-align: left;
  padding: 0 1em;
}

.goonie h3 {
  margin-top: 0;
}

figure {
  margin: 0;
  width: 200px;
}

figcaption {
  font-size: 0.66em;
  font-style: italic;
}

.originals figure img {
  width: 100%;
  min-width: 200px;
}

section.others div.goonie {
  flex-direction: column;
  text-align: center;
}

section.others div.goonie div {
  text-align: center;
}

section.others {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}

@media (max-width: 560px) {
  section.others {
    flex-direction: column;
  }
}
