body {
  color: #fbe943;
  background-image: url('./images/map.png');
  font-family: 'Hoefler Text', 'Palatino', serif;
  text-align: center;
}

h1 {
  background-image: url('./images/goonies.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  height: 4em;
}

h2 {
  text-transform: uppercase;
  margin: 2em;
}

h2,
h3 {
  text-shadow: 0.1em 0.1em 0 #1e3896;
}

ul,
ol {
  text-align: left;
  width: 24em;
  margin: auto;
}

img {
  border: 0.2em solid #fbe943;
  box-shadow: 0.2em 0.2em 0 #1e3896;
}

hr {
  border: 0;
  border-bottom: 0.2em solid #fbe943;
  box-shadow: 0.1em 0.1em 0 #1e3896;
}
